.container {
  min-height: 100vh;
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.loginWrap {
  /* width: 100%; */
  margin: auto;
  max-width: 525px;
  min-height: 100vh;
  position: relative;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.loginHtml {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.signInHtm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.tab,
.label,
.button {
  text-transform: uppercase;
}
.tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;

  color: #fff;
  border-color: #1161ee;
}
.loginForm {
  min-height: 345px;
  position: relative;
}
.group {
  margin-bottom: 15px;
}
.label,
.input,
.button {
  width: 100%;
  color: #fff;
  display: block;
}
.input,
.button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.checkLabel {
  color: #ffffff;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: block;
  padding: 2px 10px;
}
.checkInput {
  color: #000000;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: block;
  padding: 2px 10px;
}
.label {
  color: #aaa;
  font-size: 12px;
}
.button {
  background: #1161ee;
  cursor: pointer;
}

.hr {
  height: 2px;
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.2);
}

.loginWrapTable {
  /* width: 100%; */
  margin: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.table {
  width: 100%;
  /* border: 1px solid black; */
  color: #fff;
  text-align: center;
}
.table th {
  font-size: 24px;
  padding: 10px 10px 20px;
  border-bottom: 2px solid white;
}
.table td {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}
