/* all */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

/* container */
.container {
  display: flex;
  height: 100vh;
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  padding: 10px;
}
/* InputBox and form */
.InputBox {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
.input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}
.input__box2 {
  width: 100%;
  margin-bottom: 15px;
}

.details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.input2 {
  height: 150px !important;
}

.input:focus,
.input:valid {
  border-color: var(--main-purple);
}

/* submit button */
.button {
  height: 45px;
  margin: 45px 0;
}

.button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

.button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

/* starts ratting */

.rating {
  width: 250px;
  height: 50px;
  margin: 0 0;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.rating label {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  font-size: 42px;
  color: #ccc;
  line-height: 1;
}

.rating input {
  display: none;
}

.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: #f9df4a;
}
